[user]
	email = wangzhilv@gmail.com
	name = Samson Wang
[https]
    proxy = socks5://127.0.0.1:1080
[core]
	autocrlf = false
[credential]
	helper = store
[push]
	default = simple
[submodule]
	recurse = true
